
 table{
  width: 100%;
  text-align: center;
}
.box1 {
    display: inline-block;
    width: 33.33%;
    margin-bottom: 5px;
    
  }

  .box2 {

    width: 100%;
    margin-bottom: 5px;
  }
  .box3 {
    display: inline-block;
    width: 50%;
    margin-bottom: 5px;
    
  }
  .box4 { 
    display: inline-block;
    width: 50%;
    margin-bottom: 5px;
    
  }
   

 
  
  
  